#profilePic{
  border-radius: 2000px;
  width: 16em;
  height: 16em;
}

#sideProfilePic{
  border-radius: 2000px;
  width: 10em;
  height: 10em;
}

#meHeader{
  border-bottom: none;
}

#i404{
  width: 14em;
  height: 14em;
}

#contact-div{
  text-align: center;
}

#contact-div a{
  text-decoration: none;
}

.skill-pic{
  height: 9em;
  object-fit: cover
}

.project-title{
  text-align: center;
}

.projectImg{
  width: 6em;
  object-fit: cover
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.schoolImg{
  width: 8em;
  object-fit: cover;
}

.year{
  text-align: right;
}

.graduation{
  text-align: left;
}
