#profilePic{
  border-radius: 2000px;
  width: 16em;
  height: 16em;
}

#sideProfilePic{
  border-radius: 2000px;
  width: 10em;
  height: 10em;
}

#meHeader{
  border-bottom: none;
}

.projectImg{
  width: 7em;
  height: 7em;
}

.schoolImg{
  width: 5em;
  height: 5em;
}

.year{
  text-align: right;
}

.graduation{
  text-align: left;
}
