<ul id="menu-vertical">
	<li><a href="/home" class="btn btn-success btn-sm"><span class="fa fa-home">Accueil</span></a>
  <li><a href="/me" class="btn btn-default btn-sm">Moi</a></a>
		<ul>
      <li><a href="/technique">Technique</a></li>
      <li><a href="/transverse">Transverse</a></li>
      <li><a href="/cv">CV</a>
        <ul>
          <li><a href="/parcours">Parcours détaillé</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="/realisations" class="btn btn-default btn-sm">Mes réalisations</a>
    <ul>
      <li><a href="/projetspro">Mes Projets Professionnels</a></li>
      <li><a href="/projetspersos">Mes Autres Projets</a></li>
    </ul>
  </li>
  <li><a href="/contact" class="btn btn-default btn-sm">Contact</a></li>
  </ul>




<style>
#menu-vertical, #menu-vertical ul {
  padding:0;
  margin:0;
  list-style:none;
  width: 180px; /* seule ligne rajoutée */
}

#menu-vertical li {
  position: relative;
  background:#EFEFEF; /* juste pour cacher le texte de la page en-dessous */
}

#menu-vertical a {
  display:block;
  text-decoration: none;
  color: #000;
}

#menu-vertical ul {
  position: absolute;
  left:-999em;
}

#menu-vertical li:hover ul {
  top: 0;
  left: 180px;
}


 </style>
