<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title>Amram's Portfolio</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
      <div class="page-header text-center">
        <h1> ERROR: 404 </h1>
          <% include ./partials/menu %>
          <div class="row">

            <p>
              404 : Your princess is in another castle
            </p>
          </div>
    </div>
  </div>

  <% include ./partials/footer %>
</body>
</html>
