<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title>Amram's Portfolio</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1> Parcours professionnel </h1>
			</div>
					<div class="row">
						<div class="col-sm-12 col-sm-offset-0" >
							<div class="well">

							<p id="content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Cras mollis, ipsum quis ullamcorper gravida, tortor tellus varius risus, id ultrices libero sapien eu justo.
								Vivamus massa velit, bibendum ac convallis ac, bibendum quis risus.
								Proin porttitor ut quam et finibus.
								Sed pulvinar arcu nisi, non dignissim ante viverra ac.
								Vivamus nulla diam, lacinia ut ultrices id, egestas sit amet urna.
								Quisque consectetur, metus quis suscipit congue, sapien lorem sollicitudin nunc, id egestas sapien arcu et sapien.
								Vivamus luctus lacus sit amet est eleifend, vel pharetra libero cursus.
								Sed eu tincidunt felis.
								Suspendisse luctus felis ligula, eget interdum sem finibus non.
								Vivamus pulvinar justo ut metus egestas, eget molestie arcu pretium.
							</p>
							</div>
						</div>
					</div>
	</div>

  <% include ./partials/footer %>
</body>
</html>
