<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title>Amram's Portfolio</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1> Mes Réalisations </h1>
			</div>
					<div class="row">
						<div class="col-sm-12 col-sm-offset-0" >
							<div class="well">

							<p id="content">
								Ici seront répertoriées mes réalisations, séparées en deux catégories. 
							</p>
							</div>
						</div>
					</div>
	</div>

  <% include ./partials/footer %>
</body>
</html>
