<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title>Amram's Portfolio</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1> Compétences techniques </h1>
			</div>
          <div class="row">
						<div class="col-sm-12 col-sm-offset-0" >
							<div class="well">

            	<p id="content">
								<span id="archi"><h5>Architecture logicielle :</h5></span>
									o	Etre capable d’imaginer une solution</br>
									o	De lui choisir les technologies adaptées</br>
									o	D’en imaginer le développement et le découper en tâches à distribuer</br>
									o	Exemple : déjà mené des projets de la demande à la mise en production avec succès, dans différents formats d’entreprises et d’équipes.</br>
							<h5> Récupération de la demande </h5>
							<h5> Analyse et création d'un cahier des charges</h5>
							<span id="algo"><h5> Résolution d'une problèmatique par une solution algorithmique</h5><span>
							<h5> Manipulation de différentes structures de données et d'algorithmes de tri</h5>
							<h5> Appropriation d'une technologie/librairie</h5>
							<h5> Langages natifs (C/C++)</h5>
							<span id="script"><h5> Langages de scripting (Python, PERL, Bash, Powershell)</h5></span>
							<h5> Langages lourd (JAVA/JAVAFX)</h5>
							<h5> Langages Web (PHP, Javascript/Node.js)</h5>
							<h5> Langages Mobile (Objective-C, JAVA Android)</h5>
							<h5> Gestion de bases de données SQL (MySQL, PostgreSQL)</h5>
							<h5> Gestion de bases de données NoSQL (Redis, MongoDB)</h5>
							<h5> Versionning de projet (Git et équivalents)</h5>
							<span id="tests"><h5> Mise en place de tests </h5></span>
							<h5> Mise en production avec integration continue (Jenkins, Codeship).</h5>
            	</p>
							</div>
						</div>
          </div>
  </div>

  <% include ./partials/footer %>
</body>
</html>
