<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title>Amram's Portfolio</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1> Compétences techniques </h1>
			</div>
          <div class="row">
						<div class="col-sm-12 col-sm-offset-0" >
							<div class="well">

            	<p id="content">
							- Récupération de la demande <br/>
							- Analyse et création d'un cahier des charges<br/>
							- Problem solving<br/>
							- Versionning de projet<br/>
							- Manipulation de différentes structures de données et d'algorithmes de tri<br/>
							- Langages natifs (C/C++)<br/>
							- Langages de scripting (Python, PERL, Bash, Powershell)<br/>
							- Langages lourd (JAVA/JAVAFX)<br/>
							- Langages Web (PHP, Javascript/Node.js)<br/>
							- Langages Mobile (Objective-C, JAVA Android)<br/>
							- Gestion de bases de données SQL (MySQL, PostgreSQL)<br/>
							- Gestion de bases de données NoSQL (Redis, MongoDB)<br/>
							- Mise en production avec integration continue (Jenkins, Codeship).<br/>
            	</p>
							</div>
						</div>
          </div>
  </div>

  <% include ./partials/footer %>
</body>
</html>
